@model MarketMoney.Domain.Cabinets.Queries.CabinetDetailsDto

@{
    ViewBag.Title = "Информация по кабинету";
    Layout = "_Layout";
}

<h2>Информация по кабинету</h2>

<p><b>Название кабинета:</b> @Model.Title</p>
<p><b>Дата создания:</b> @Model.CreatedAt</p>
<p><b>Api-ключ:</b> <i>(мы не отображаем ключ по соображениям безопасности)</i></p>
<p><b>Статус кабинета:</b> @Model.IsActive <i>(подразумеваем, что можем блокировать кабинет, чтобы в фоне не обновлять данные)</i></p>
<p><b>Маркетплейс:</b> @Model.Marketplace</p>
<p><b>Статус подключения к маркетплейсу:</b> @Model.ConnectionStatus</p> <i>(подразумеваем,если кривой ключ или протух токен отобразим статус)</i>


<p>И тут какие-то табы с визуализацией данных</p>

